<div id="accordion-container">
    <h2 class="accordion-header">Что влияет на стоимость изделия?</h2>

    <div class="accordion-content">
        <p>Существует несколько факторов влияющих на конечную стоимость корпусной мебели. Рассмотрим на примере кухонного гарнитура:</p>
        <p>
            <b>Размер.</b>
            <br />
            Чем больше кухня тем она дороже. Зависимость стоимости от размера-линейная.
        </p>

        <p>
            <b>Материал из которого сделан фасад.</b>
            <br />
            Самый не дорогой материал ДСП и МДФ-ПВХ (МДФ-ламинированная пленкой ПВХ) Это современный экологически чистый материал. Фасады с эмалевым покрытием (основа тоже МДФ) будут стоить на 10-15% дороже но зато цвета и оттенки такого покрытия имеют не ограниченное количество вариантов. Кухня с фасадом из массива будет стоить на 15-20% дороже чем, с фасадом МДФ ПВХ
        </p>

        <p>
            <b>Фурнитура.</b>
            <br />
            Можно использовать простую фурнитуру, а можно а можно наполнить кухню доводчиками, амортизаторами удара, выдвижными системами. Эти мелочи не будут видны внешне, но очень существенно повлияют на удобство и комфорт при использовании кухни. Разница в стоимости в зависимости от применяемой фурнитуры может достигать 10-15%
        </p>

        <p>
            <b>Столешница и ее толщина</b>
            <br />
            Самый распространенный материал столешниц-ламинированные столешницы. Они имеют два варианта толщины 28 и38мм. Столешница 38мм. толщиной дороже чем 28мм. На 10-15%. Столешницы из искусственного камня прочнее и более стойкие к химическому воздействию. Однако стоимость такой солешницы в разы больше чем ламинированной.
        </p>

        <p>
            <b>Наличие декоративных элементов.</b>
            <br />
            К элементам декора относятся: Перильца(балясинки),пилястры, подсветка, карнизы, витражи, зеркала, решетки, стеновая панель и многое другое. Использование декоративных элементов превратит да же самую не дорогую кухню в маленький шедевр.
        </p>

        <p>
            Учитывать все особенности и предпочтения, чтобы найти оптимальное для Вас соотношение между стоимостью, функциональностью  и красотой -  это и есть наша работа!
        </p>

    </div>

</div>

<div id="accordion-container">
    <h2 class="accordion-header">Когда заказывать мебель?</h2>

    <div class="accordion-content">
        <p>Кухню можно заказать на любом этапе – до начала, во время или после ремонта.</p>
        <p>Когда заказывать кухонный гарнитур предстоит решить Вам, а мы расскажем плюсы и минусы покупки кухни на любом из этих этапов и, возможно, после прочтения Вам будет легче принять решение.</p>
        <p>
            ЕСЛИ ВЫ РЕШИТЕ ЗАКАЗАТЬ КУХНЮ ПЕРЕД РЕМОНТОМ ИЛИ ВО ВРЕМЯ РЕМОНТА, ТО:
        </p>
        <p>
            Мы сделаем замеры того помещения, которое есть у Вас на данный момент. Оценим состояние стен, углов и оговорим с Вами качество предстоящего ремонта и возможное изменение размеров. С учётом этого и запланируем размеры кухонного гарнитура. Например, отнимем несколько сантиметров от длины стены на толщину кухонного фартука, выравнивание стен под уровень, выведение угла под 90 градусов, в общем на погрешность ремонта (или прибавим в зависимости от ситуации).
        </p>
        <p>
            Дизайнер даст рекомендации по размещению розеток и коммуникаций в зависимости от оптимального расположения бытовых приборов на кухне. В последствии, Вам не придётся переносить розетки и коммуникации, переделывать отверстие воздуховода или перекладывать плитку в нише для вытяжки. Ремонт Вы будете делать с учётом окончательного проекта мебели. Благодаря этому приобретете удобную кухню с расположением рабочей зоны и шкафов в соответствии с максимальной функциональностью и эргономикой кухонной мебели.
        </p>
        <p>
            Вам надо будет проконтролировать мастеров по ремонту, чтобы после ремонта стены были нужного для мебели размера, а розетки на своих местах.
        </p>
        <p>
            Вы сэкономите время и сможете быстрее, как минимум на месяц, пользоваться новой кухней. Срок изготовления кухни составляет в среднем около 3 – 6 недель (зависит от материала фасада). За это время Вы сделаете ремонт и сразу же, по его окончании, получите кухонный гарнитур.
        </p>

        <br />
        <p>
            ЕСЛИ ВЫ РЕШИТЕ ЗАКАЗАТЬ КУХНЮ ПОСЛЕ РЕМОНТА, ТО:
        </p>
        <p>
            Дизайнер спроектирует мебель исходя из особенностей сделанного ремонта, расположения фартука, места для вытяжки и т.д.
        </p>
        <p>
            Наш специалист оценит готовность помещения к установке мебели, сделает замеры. Мы изготовим мебель исходя из точных размеров помещения и нюансов отделки стен.
        </p>
        <p>
            Возможно, Вам придется переносить или заглушить сделанные розетки. Чтобы избежать этого воспользуйтесь НАШЕЙ УСЛУГОЙ - ИНТЕРЬЕР ПОД КЛЮЧ (мы возьмем на себя все отделочные и декоративные работы вашего помещения с учетом всех нюансов установки будующей мебели)
        </p>

    </div>

</div>

<div id="accordion-container">
    <h2 class="accordion-header">Есть готовый проект или понравилось фото корпусной мебели в интернете?</h2>

    <div class="accordion-content">
        <p>Сделаем любую корпусную мебель, которую вы найдете в интернете. Присылайте фотографии или рисунки, мебели которые вам нравятся а так же свои пожелания. Мы подготовим эскиз и посчитаем стоимость изготовления. Если у вас есть уже готовый проект то присылаете его нам для расчета стоимости.</p>
    </div>

</div>
