@*<div id="typical_katalog" class="second_slide katalog">
    <div class="wrap">
        <h1 class="slide_head">Типовые решения</h1>

        <ul class="tab-nav tab-style">
            <li><a href="#tab_1">МДФ пленка</a></li>
            <li><a href="#tab_2">МДФ пластик</a></li>
            <li><a href="#tab_3">МДФ эмаль</a></li>
            <li><a href="#tab_4">МДФ шпон</a></li>
            <li><a href="#tab_5">Массив дерева</a></li>
        </ul>

        <div class="katalog_slide">
            <div id="tab_1">
                <article class="slider_galery">
                    <div class="slider__gallery1 x_slider">
                        <i class="next1 x_next"></i>
                        <i class="prev1 x_prev"></i>

                        <div class="slider__in1">
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1154.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1157.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1158.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/929.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/931.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/932.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1182.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1184.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1185.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/925.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/926.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/927.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1177.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1179.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1181.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1283.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1281.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1285.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="katalog_left">
                    <h2 class="katalog_slide_head">Пленочные фасады</h2>

                    <span class="katalog_desc">Изготавливаются путем приклеивания пленки ПВХ к плите МДФ специальным клеем при помощи пресса. Придает мебели фактурный, рельефный, респектабельный вид.</span>

                    <div class="katalog_triggers">
                        <p style="background: url(wp-content/themes/favorit/favorit/images/colors.png) no-repeat left">Широкая гамма цветов</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/texture_1.png) no-repeat left">Богатый выбор фактур</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/clean_2.png) no-repeat left">Простота в уходе</p>
                    </div>

                    <div class="katalog_price">
                        <span class="katalog_price_1">от <b>18 900</b> руб.</span>
                        <span class="katalog_price_2">за погонный метр</span>
                    </div>

                    <div id="button2">
                        <a onclick="$('input:hidden[name=page-name-2]').val('Пленочные фасады'); ga('send', 'event', 'Calc', 'click_button'); yaCounter37676130.reachGoal('calc_button');" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                    </div>
                </div>
            </div>
            <div id="tab_2">
                <article class="slider_galery">
                    <div class="slider__gallery2 x_slider">
                        <i class="next2 x_next"></i>
                        <i class="prev2 x_prev"></i>

                        <div class="slider__in2">
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1026.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1028.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1029.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1133.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1134.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1136.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1111.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1112.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1116.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1101.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1102.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1105.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1192.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1193.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1195.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1243.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1245.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1246.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="katalog_left">
                    <h2 class="katalog_slide_head">МДФ в пластике</h2>

                    <span class="katalog_desc">Кухни из пластика по соотношению цены и качества являются наиболее выгодным приобретением, так как их можно назвать самыми прочными и долговечными.</span>

                    <div class="katalog_triggers">
                        <p style="background: url(wp-content/themes/favorit/favorit/images/lifetime.png) no-repeat left">Максимальный срок службы</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/secure.png) no-repeat left">Высокая прочность</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/clean_2.png) no-repeat left">Простота в уходе</p>
                    </div>

                    <div class="katalog_price">
                        <span class="katalog_price_1">от <b>16 900</b> руб.</span>
                        <span class="katalog_price_2">за погонный метр</span>
                    </div>

                    <div id="button2">
                        <a onclick="$('input:hidden[name=page-name-2]').val('МДФ в пластике'); ga('send', 'event', 'Calc', 'click_button'); yaCounter37676130.reachGoal('calc_button');" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                    </div>
                </div>
            </div>
            <div id="tab_3">
                <article class="slider_galery">
                    <div class="slider__gallery3 x_slider">
                        <i class="next3 x_next"></i>
                        <i class="prev3 x_prev"></i>

                        <div class="slider__in3">
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/847.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/848.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/849.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/976.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/977.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/979.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/983.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/982.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/984.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1292.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1294.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1295.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1687.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1688.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1690.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/903-1.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/904-1.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/906-1.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="katalog_left">
                    <h2 class="katalog_slide_head">Крашеные фасады</h2>

                    <span class="katalog_desc">Крашеные фасады отличает эстетичный внешний вид,  богатая цветовая палитра и большие возможности в создании дизайна кухни вашей мечты.</span>

                    <div class="katalog_triggers">
                        <p style="background: url(wp-content/themes/favorit/favorit/images/lay.png) no-repeat left">Различные виды покрытий</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/colors.png) no-repeat left">Широкая гамма цветов</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/eco_3.png) no-repeat left">Экологичность материала</p>
                    </div>

                    <div class="katalog_price">
                        <span class="katalog_price_1">от <b>24 900</b> руб.</span>
                        <span class="katalog_price_2">за погонный метр</span>
                    </div>

                    <div id="button2">
                        <a onclick="$('input:hidden[name=page-name-2]').val('Крашеные фасады'); ga('send', 'event', 'Calc', 'click_button'); yaCounter37676130.reachGoal('calc_button');" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                    </div>
                </div>
            </div>
            <div id="tab_4">
                <article class="slider_galery">
                    <div class="slider__gallery4 x_slider">
                        <i class="next4 x_next"></i>
                        <i class="prev4 x_prev"></i>

                        <div class="slider__in4">
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/863.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/865.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/864.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/891.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/892.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/894.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/893.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1215.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1217.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1218.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1216.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1219.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/915.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/917.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/918.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1225.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1226.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1224.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="katalog_left">
                    <h2 class="katalog_slide_head">Фасады из шпона</h2>

                    <span class="katalog_desc">Шпон — тонкий слой древесины, которым облицовывается МДФ, и затем покрывается лаковым покрытием. Такие фасады трудно отличить от натурального дерева.</span>

                    <div class="katalog_triggers">
                        <p style="background: url(wp-content/themes/favorit/favorit/images/wood.png) no-repeat left">Благородный вид натурального дерева</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/secure.png) no-repeat left">Прочность и долговечность</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/eco_3.png) no-repeat left">Экологичность материала</p>
                    </div>

                    <div class="katalog_price">
                        <span class="katalog_price_1">от <b>24 900</b> руб.</span>
                        <span class="katalog_price_2">за погонный метр</span>
                    </div>

                    <div id="button2">
                        <a onclick="$('input:hidden[name=page-name-2]').val('Фасады из шпона'); ga('send', 'event', 'Calc', 'click_button'); yaCounter37676130.reachGoal('calc_button');" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                    </div>
                </div>
            </div>
            <div id="tab_5">
                <article class="slider_galery">
                    <div class="slider__gallery5 x_slider">
                        <i class="next5 x_next"></i>
                        <i class="prev5 x_prev"></i>

                        <div class="slider__in5">
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1196.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1200.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1199.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1201.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1003.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1004.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1005.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1229.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1230.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1233.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1228.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1247.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1248.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1249.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1188.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1189.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1190.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/1191.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/972.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/973.jpg" />
                                </div>
                            </div>
                            <div class="slide_item">
                                <div class="slide2">
                                    <img src="/wp-content/uploads/2016/05/974.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="katalog_left">
                    <h2 class="katalog_slide_head">Массив дерева</h2>

                    <span class="katalog_desc">Фасады из массива дерева изготавливаются из таких ценных пород как дуб, бук, ясень. Кухня из массива дерева – это лучшее средство подчеркнуть статус и вкус.</span>

                    <div class="katalog_triggers">
                        <p style="background: url(wp-content/themes/favorit/favorit/images/gem_3.png) no-repeat left">Солидность и элегантность</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/texture_1.png) no-repeat left">Богатый выбор фактур</p>
                        <p style="background: url(wp-content/themes/favorit/favorit/images/eco_3.png) no-repeat left">Самый безопасный материал</p>
                    </div>

                    <div class="katalog_price">
                        <span class="katalog_price_1">от <b>29 900</b> руб.</span>
                        <span class="katalog_price_2">за погонный метр</span>
                    </div>

                    <div id="button2">
                        <a onclick="$('input:hidden[name=page-name-2]').val('Массив дерева'); ga('send', 'event', 'Calc', 'click_button'); yaCounter37676130.reachGoal('calc_button');" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
